* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #44EFC8;
  font-family: 'Roboto', sans-serif;
}

footer,
body {
  transition: .3s ease all;
}

body.dark {
  background: #111111;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

nav {
  background: #FEFEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}

body.dark h2,h3,h4,h5,h6 {
  color: #C8C8C8;
}

body.dark nav {
  background: #222222;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body.dark a.nav_li {
  color: #C8C8C8;
}

body.dark h1 a:hover {
  color: #44EFC8;
}

body.dark li a.nav_li:hover {
  color: #44EFC8;
}

body.dark li.tsuki a.nav_li:hover {
  color: #EA45F0;
}

body.dark p {
  color: #C8C8C8;
}

body.dark footer {
  background: #222222;
}

body.dark div.ir-arriba {
  background: #353535;
  z-index: 10;
}

body.dark .icono-menu {
  background: #222;
  box-shadow: 0 10px 20px -15px #111;
}

body.dark .cont-menu {
  background: #222;
  box-shadow: 12px 0px 20px -15px #111;
}

body.dark .burger_line {
  stroke: #fff;
}

body.dark .cont-menu > .social_media_buttons > .wrapper .button .icon {
  background: #fff;
  color: #000;
}

body.dark .slider {
  box-shadow: 1px 1px 0px #c7c7c7, 2px 2px 0px #c7c7c7, 3px 3px 0px #c7c7c7, 4px 4px 0px #c7c7c7, 5px 5px 0px #c7c7c7, 6px 6px 0px #c7c7c7, 7px 7px 0px #c7c7c7, 8px 8px 0px #c7c7c7, 9px 9px 0px #c7c7c7, 11px 11px 10px #fff;
}

nav .enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .enlaces a {
  margin-right: 40px;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

button#switch.switch {
  left: 3%;
  margin: 0.5%;
}

div.icono-menu > button#switch.switch {
  position: absolute;
  margin: 7px 80%;
}