/*Esta página ha sido programada por Alex Otero. Todos los derechos son reservados*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
  outline-color: none;
  outline-style: none;
  outline-width: unset;
  outline-width: unset;
}

h1 > a:hover{
  color: #44EFC8;
  transition: all .5s;
}

h2,h3,h4,h5,h6 {
  font-family: 'Algerian'
}

body {
	background:#44EFC8;
	color: #000000;
}

footer {
  padding: 38px 0px;
  text-align: justify;
  background: #409E98;
}

footer > p {
  width: 500px;
  margin: 20px auto;
  color: #fff;
}

.navegacion{
	width: 70%;
	margin: 198px auto;
	background: #fff;
	font-family: 'Algerian'
}

.navegacion ul {
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block; 
}

.menu > li > a{
	display: block;
	padding: 15px 20px
	color: #353535;
	font-family: 'Algerian';
	text-decoration: none; 
}

.menu > li > a:hover {
	color: #44EFC8;
	transition: all .5s;
}

li.tsuki > a:hover {
  color: #EA45F0;
}


nav > ul> li {
	float: left;
}

nav ul li a {
	text-decoration-color: none
	color: #fff;
	display: block;
	padding: 10px 20px;
}

body {
  background: #44EFC8;
  font-family: 'Arial', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.contenido {
  width: 500px;
  margin: 20px auto;
  text-align: justify;
}

.contenido p{
  margin-bottom: 1em;
}

.ir-arriba {
  display: none;
  padding: 20px;
  background: #207E7A;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}


::selection {
  background: #207E7A;
  color: #fff;
}

nav {
  background: #FEFEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}
  

/*Esta página ha sido programada por Alex Otero. Todos los derechos son reservados*/