/*Esta página ha sido programada por Alex Otero. Todos los derechos son reservados*/

@font-face {
  font-family: 'Algerian';
  src: url('C:/Users/Alex Otero/AppData/Local/Microsoft/Windows/Fonts/ALGER.tff') format("truetrype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
  outline-color: none;
  outline-style: none;
  outline-width: unset;
  outline-width: unset;
}

h1 > a:hover{
  color: #44EFC8;
  transition: all .5s;
}

h2,h3,h4,h5,h6 {
  font-family: 'Algerian'
}

body {
  background:#44EFC8;
  color: #000000;
}

footer {
  padding: 38px 0px;
  text-align: justify;
  background: #409E98;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer > p {
  width: 500px;
  margin: 20px auto;
  color: #fff;
}

.navegacion{
  width: 70%;
  margin: 198px auto;
  background: #fff;
  font-family: 'Algerian'
}

.navegacion ul {
  list-style: none;
}

.menu > li{
  position: relative;
  display: inline-block; 
}

a.nav_li {
  display: block;
  color: #353535;
  font-family: 'Algerian';
  text-decoration: none; 
}

a.nav_li:hover {
  color: #44EFC8;
  transition: all .5s;
}

li.tsuki > a:hover {
  color: #EA45F0;
}

nav > ul> li {
  float: left;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 20px;
}

body {
  background: #44EFC8;
  font-family: 'Arial', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.ir-arriba {
  display: none;
  padding: 20px;
  background: #207E7A;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

svg.arrow_up {
  position: relative;
  display: flex;
  height: 20px;
}

::selection {
  background: #207E7A;
  color: #fff;
}

nav {
  background: #FEFEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}

/* Menú responsive */

@media(max-width: 711px){
  header {
    display: none;
  }

  .icono-menu {
    display: block;
  }

  .slider {
    display: block;
  }

  li > a:hover {
    color: #44EFC8;
    transition: all .5s;
  }

  h1 {
    margin: 10px 40px;
    width: 200px;
  }

}

@media(min-width: 712px){
  .icono-menu {
    display: none;
  }

  .slider {
    display: none;
  }

  #menu {
    transform: translate(-600px);
    transition: all .3s ease;
  }
}

.icono-menu {
  background: #fff;
  padding: 10px 50px;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all .3s ease;
  box-shadow: 0 10px 20px -15px #777;
  top: 0;
}

.icono-menu svg {
  vertical-align: top;
  cursor: pointer;
  margin: 0px 0px 20px 0px;
}

.burger_line {
  stroke: #2A2A2A;
  stroke-width: 8;
  stroke-linecap: round;
  transition: all .3s ease;
}

.burger_btn {
  width: 40px;
  height: 40px;
}

.cont-menu {
  background-color: #fff;
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  transition: all .3s ease;
  box-shadow: 10px 0px 20px -15px #111;
}

.active_menu{
  transform: translate(-600px);
}

.opacity {
  transition: all .3s ease;
}

.cont-menu ul {
  padding: 150px 0px 20px 0px;
  list-style: none;
}

.cont-menu ul li {
  color: #fff;
  display: block;
  font-size: 25px;
  text-decoration: none;
  margin: 10px 50px;
}

img.menu_logo {
  margin: -76px 40%;
  height: 100px;
  width: 100px;
}

/* Menú responsive */

/* Slider */

.slider {
  margin: 115px 27%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 1px 1px 0px #333,
              2px 2px 0px #333,
              3px 3px 0px #333,
              4px 4px 0px #333,
              5px 5px 0px #333,
              6px 6px 0px #333,
              7px 7px 0px #333,
              8px 8px 0px #333,
              9px 9px 0px #333,
              11px 11px 10px #000;
}

.slider > ul {
  list-style: none;
  width: 2400px;
  display: flex;

  animation: slide 40s infinite;
}

.slider > ul > li > img {
  height: 300px;
}

@keyframes slide {
  0% {margin-left: 0px;}
  6.25% {margin-left: 0px;}

  12.50% {margin-left: -300px;}
  18.75% {margin-left: -300px;}

  25% {margin-left: -600px;}
  31.25% {margin-left: -600px;}

  37.50% {margin-left: -900px;}
  43.75% {margin-left: -900px;}

  50% {margin-left: -1200px}
  56.25% {margin-left: -1200px;}

  62.50% {margin-left: -1500px;}
  68.75% {margin-left: -1500px;}

  75% {margin-left: -1800px;}
  81.25% {margin-left: -1800px}

  87.50% {margin-left: -2100px;}
  93.75% {margin-left: -2100px;}
}

/* Slider */
  

/*Esta página ha sido programada por Alex Otero. Todos los derechos son reservados*/