@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

@font-face {
  font-family: 'Alex';
  src: url('../assets/Algerian.TTF');
  font-weight: normal;
  font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

*:focus {
	outline: none;
	outline-color: none;
	outline-style: none;
	outline-width: unset;
	outline-width: unset;
}

a:active:hover, a:visited:hover, a:link:hover, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
}

::selection {
	background: #207E7A;
	color: #fff;
}

body {
	background: #44EFC8;
	font-family: 'Roboto', sans-serif;
	transition: 0.6s;
}

html {
	scroll-padding-top: 100px;
	scroll-behavior: smooth;
}

@media (max-width: 374px) {
	html {
		scroll-padding-top: 120px;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .8s;
	padding: 10px 2%;
	background: #0000;
	z-index: 2;
	flex-wrap: nowrap;
	flex-direction: row;
  max-height: 130px;
}

header.sticky {
	padding: 10px 2%;
	background: #409E98;
	-webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 16%);
          box-shadow: 0px 5px 20px rgb(0 0 0 / 16%);
}

header.sticky ul li a {
	color: #FFF;
}

header ul {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

header ul li {
	position: relative;
	list-style: none;
	display: flex;
}

header ul li a {
	position: relative;
	margin: 2.5px 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	transition: 0.6s;
	cursor: pointer;
	font-family: 'Alex';
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

header ul li a:hover {
	color: #44EFC8;
	transition: all 0.5s;
}

header ul li a:hover, a:focus {
	background-size: 100% 2px;
}

.header_logo {
	height: 77px;
	object-fit: contain;
}

header > li a {
	margin: 0 0 0 2%;
}

.space {
	margin: 130px 0 0 0;
}

.inicio {
	color: #fff;
	background: linear-gradient(to right, #409E98bd, #409E98bd),url(../assets/bg_img.svg);
	background-position: center;
	height: 105vh;
	position: relative;
}

.inicio_content {
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inicio_content img {
	height: 50vh;
}

:root {
	--delay: 1s;
	--duration: 800ms;
	--iterations: 1;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 0s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0s);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	margin: -6% 0 0 0;
	position: relative;
	font-family: 'Alex';
	font-size: 10vmin;
	animation-name: clip-text;
	white-space: nowrap;
	cursor: default;
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

.arrow_margin {
	margin: 2.5vh 0 2.5vh 0;
	animation: MoveUpDown 1.5s linear infinite;
	cursor: pointer;
}

.arrow {
	border: solid #fff;
	border-width: 0 1vh 1vh 0;
	display: inline-block;
	padding: 1vh;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.conocimientos {
	background: #44EFC8;
}

.proyectos {
	background: #3be6bf;
}

.conocimientos, .proyectos, .contacto {
	padding: 5% 0 3% 0;
	width: 100%;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 4% 0;
	font-size: 150%;
	font-family: 'Alex';
}

p {
	font-size: 120%;
	line-height: 200%;
}

.text {
	width: 80%;
	margin: 0% 10% 0% 10%;
}

.tools {
	margin: 2.5% 0 2.5% 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tool {
	width: fit-content;
	border-radius: 5px;
	margin: 0 1.5rem 1.5rem 0;
	padding: 1rem 2rem;
	background: #409E98;
	color: #fff;
}

.frame_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame {
	width: 128vh;
	height: 70vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../assets/laptop.png');
}

.projects {
	position: relative;
	border: none;
	top: 10.4%;
	left: 14.8%;
	width: 70.6%;
	height: 74%;
}