@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

@font-face {
  font-family: 'Alex';
  src: url('../assets/Algerian.TTF');
  font-weight: normal;
  font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

*:focus {
	outline: none;
	outline-color: none;
	outline-style: none;
	outline-width: unset;
	outline-width: unset;
}

a:active:hover, a:visited:hover, a:link:hover, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
}

::selection {
	background: #207E7A;
	color: #fff;
}

body {
	background: #44EFC8;
	font-family: 'Roboto', sans-serif;
	transition: 0.6s;
}

html {
	scroll-padding-top: 100px;
	scroll-behavior: smooth;
}

@media (max-width: 374px) {
	html {
		scroll-padding-top: 120px;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .8s;
	padding: 10px 2%;
	background: #0000;
	z-index: 2;
	flex-wrap: nowrap;
	flex-direction: row;
  max-height: 130px;
}

header.sticky {
	padding: 10px 2%;
	background: #409E98;
	-webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 16%);
          box-shadow: 0px 5px 20px rgb(0 0 0 / 16%);
}

header.sticky ul li a {
	color: #FFF;
}

header ul {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

header ul li {
	position: relative;
	list-style: none;
	display: flex;
}

header ul li a {
	position: relative;
	margin: 2.5px 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	transition: 0.6s;
	cursor: pointer;
	font-family: 'Alex';
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

header ul li a:hover {
	color: #44EFC8;
	transition: all 0.5s;
}

header ul li a:hover, a:focus {
	background-size: 100% 2px;
}

.header_logo {
	height: 77px;
	object-fit: contain;
}

header > li a {
	margin: 0 0 0 2%;
}

.space {
	margin: 130px 0 0 0;
}

.inicio {
	color: #fff;
	background: linear-gradient(to right, #409E98bd, #409E98bd),url(../assets/bg_img.svg);
	background-position: center;
	height: 105vh;
	position: relative;
}

.inicio_content {
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inicio_content img {
	height: 50vh;
}

:root {
	--delay: 1s;
	--duration: 800ms;
	--iterations: 1;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 0s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0s);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	margin: -6% 0 0 0;
	position: relative;
	font-family: 'Alex';
	font-size: 10vmin;
	animation-name: clip-text;
	white-space: nowrap;
	cursor: default;
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

.arrow_margin {
	margin: 2.5vh 0 2.5vh 0;
	animation: MoveUpDown 1.5s linear infinite;
	cursor: pointer;
}

.arrow {
	border: solid #fff;
	border-width: 0 1vh 1vh 0;
	display: inline-block;
	padding: 1vh;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.conocimientos {
	background: #44EFC8;
}

.proyectos {
	background: #70b6b1;
}

div.contacto {
	background: #3c8d89;
	padding: 5% 0 5% 0;
}

.conocimientos, .proyectos, .contacto {
	padding: 5% 0 3% 0;
	width: 100%;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 4% 0;
	font-size: 150%;
	font-family: 'Alex';
}

p {
	font-size: 120%;
	line-height: 200%;
}

.text {
	width: 80%;
	margin: 0% 10% 0% 10%;
}

.contacto > .text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contacto > .text > p {
	font-size: 150%;
}

.tools {
	margin: 2.5% 0 2.5% 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tool {
	width: fit-content;
	border-radius: 5px;
	margin: 0 1.5rem 1.5rem 0;
	padding: 1rem 2rem;
	background: #409E98;
	color: #fff;
}

.frame_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame {
	width: 128vh;
	height: 70vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../assets/laptop.png');
}

.projects {
	position: relative;
	border: none;
	top: 7%;
	left: 12.42%;
	width: 75.4%;
	height: 81.7%;
}

.proyectos {
	height: 105vh;
}

.contact_card {
	height: 40vh; /*130px;*/
	width: 40vh;/*130px;*/
	background: #eaeaea;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px solid #fff;
	box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
}

.icon-fb {
	height: 35%;
	margin: 0 0 0 6%;
	color: #4267B2;
}

.contact {
	margin: 5% 5% 0% 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact_card:hover {
	box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
  transform: translateY(-3%);
}

footer {
	padding: 5% 0%;
	text-align: left;
	background: #409E98;
	width: 100%;
	color: #FFF;
}

footer > p {
	margin: 0% 30%;
}

div.social_media_buttons {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 55%;
 	margin: 2% 30% 0% 30%;
}

@media (max-width: 1024px) {
	div.social_media_buttons {
		margin: 2% 25% 0% 25%;
	}
}

@media (min-width: 1440px) {
	div.social_media_buttons, footer > p {
		margin: 2% 40% 0% 40%;
		width: fit-content;
	}
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  background: #fff;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
	box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
  transform: translateY(-10%);
}

.wrapper .button:nth-child(1) .icon{
  background: #4267B2;
}

.wrapper .button:nth-child(2) .icon{
  background: #1DA1F2;
}

.wrapper .button:nth-child(3) .icon{
  background: #E1306C;
}

.wrapper .button:nth-child(4) .icon{
  background: #000000;
}

.wrapper .button:nth-child(5) .icon{
  background: #ff0000;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button .icon i{
  color: #fff;
}

div.icon {
  color: #000000;
}

.symbols {
  height: 25px;
  width: 30px;
}

i.facebook {
  height: 56px;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.twitter {
  height: 59px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.instagram {
  height: 59px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.tiktok {
  height: 59px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.youtube {
  height: 59px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}