/*Esta página ha sido programada por Alex Otero. Todos los derechos son reservados*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
  outline-color: none;
  outline-style: none;
  outline-width: unset;
  outline-width: unset;
}

h1 > a:hover{
  color: #44EFC8;
  transition: all .5s;
}

h2 {
  position: center;
}

h2,h3,h4,h5,h6 {
  font-family: 'Algerian'
}

h2, h3 {
  width: 500px;
  margin: 20px auto;
  text-align: justify;
}

.main p {
  width: 500px;
  margin: 20px auto;
  text-align: justify;
}

p {
  width: 500px;
  margin: 20px auto;
  line-height: 200%;
}

footer {
  margin-top: 20px;
  padding: 38px 0px;
  text-align: justify;
  background: #409E98;
}

footer > p {
  width: 500px;
  margin: 20px auto;
  color: #fff;
}

.second p {
  width: 500px;
  margin: 20px auto;
  text-align: justify;
}

.second {
  margin-bottom: 76px;
}

.second h3 {
  margin-top: 3em;
}

body {
  background:#44EFC8;
  color:#000000;
}

.navegacion{
  width: 1000px;
  margin: 30px auto;
  background: #fff;
  font-family: 'Algerian';
}

.navegacion ul {
  list-style: none;
}

.menu > li{
  position: relative;
  display: inline-block; 
}

.menu > li > a{
  display: block;
  padding: 15px 20px
  color: #353535;
  font-family: 'Algerian';
  text-decoration: none; 
}

.menu > li > a:hover {
  color: #44EFC8;
  transition: all .5s;
}

.contenido {
  width: 500px;
  margin: 20px auto;
  text-align: justify;
}

.contenido p{
  margin-bottom: 1em;
}

.ir-arriba {
  display: none;
  padding: 20px;
  background: #207E7A;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

svg.arrow_up {
  position: relative;
  display: flex;
  height: 20px;
}

nav > ul> li {
  float: left;
}

.center {
  display: block;
  margin-left: 39%;
  width: 32.2%;
}

nav ul li a {
  text-decoration-color: none
  color: #fff;
  display: block;
  padding: 10px 20px;
}

body {
  background: #44EFC8;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

button.btn {
  margin-top: 19px;
  max-width: 290.8px;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #207E78;
  border-radius: 8px;
  background: #409E98;
  box-shadow: #18BFB5 0px 0px 40px 0px;
  text-shadow: #0d264d 1px 1px 1px;
  font: normal normal bold 15px comic sans ms;
  text-decoration: none;
  text-transform: uppercase;
}

button.btn:hover {
  cursor: pointer;
  border: 1px solid #409E98;
  background: #18BFB5;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase
} 

button.btn:active {
  text-decoration: none;
}

button.btn:focus {
  outline: none;
  outline-color: none;
  outline-style: none;
  outline-width: unset;
  outline-width: unset;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

li.tsuki > a:hover {
  color: #EA45F0;
}

::selection {
  background: #207E7A;
  color: #fff;
}

nav {
  background: #FEFEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}
/*Esta página ha sido programada por Alex Otero. Todos los derechos son reservados*/