div.social_media_buttons {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*:focus {
  outline: none;
  outline-color: none;
  outline-style: none;
  outline-width: unset;
  outline-width: unset;
}

div.social_media_buttons{
  bottom: 0px;
  right: 10px;
  display: grid;
  height: 520px;
  width: 80px;
  position: fixed;
  z-index: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

img.tsuki {
  margin: 15px;
  transition: 0.3s;
  height: 30px;
}

.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  background: #fff;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon{
  background: #000000;
}

.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}

.wrapper .button:nth-child(6):hover .icon{
  background: #EA45F0;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i{
  color: #fff;
}

.symbols {
  height: 25px;
  width: 30px;
}

i.facebook {
  height: 56px;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.twitter {
  height: 59px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.instagram {
  height: 59px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.tiktok {
  height: 59px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.youtube {
  height: 59px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.tsuki {
  height: 59px;
  width: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.icon {
  color: #000000;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
