@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

:focus {
	outline: none;
	padding: 0;
}

:focus-visible:not(ul > li > .header-link, .bubble, .buttons-container > *), .header_link_logo:focus-visible {
	outline: #151515 solid 2px;
	padding: 0.05vh 0.1vh;
	border-radius: 2px;
}

a:active:hover, a:visited:hover, a:link:hover, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
}

:root {
  --main-color: #00b5ad;
}

body {
  background: #f5f7fa;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-padding-top: 160px;
}

header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  margin: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.12);
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  margin: 2.5px 15px;
  color: #151515;
  letter-spacing: 2px;
  cursor: pointer;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s, color .3s;
  font-weight: bold;
}

header ul li a:hover, header ul li a:focus-visible {
  background-size: 97% 2px;
  color: var(--main-color);
}

header ul#menu {
  background: #fff;
  box-shadow: -1px 1px 10px rgb(0 0 0 / 25%);
  height: 100vh;
  padding-top: 104px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  visibility: hidden;
  display: none;
  opacity: 0;
}

.menu_icon {
  cursor: pointer;
  width: 24px;
  margin: 0 24px;
  z-index: 3;
  visibility: hidden;
  display: none;
  opacity: 0;
}

.menu_icon > rect {
  transition: transform 550ms,opacity 550ms;
}

.menu_icon.cross > rect:nth-child(1) {
  transform: translateX(21px) translateY(0px) rotate(45deg);
}

.menu_icon.cross > rect:nth-child(2) {
  opacity: 0;
}

.menu_icon.cross > rect:nth-child(3) {
  transform: translateX(-16px) translateY(23px) rotate(-45deg);
}

.menu_list {
  transform: translateX(120%);
  transition: all .5s ease;
}

.menu_list.active_menu {
  transform: translateX(0%);
}

.header_logo {
  height: 80px;
  width: fit-content;
  object-fit: contain;
  margin-left: 0.3rem;
}

header > li a {
  margin: 0 0 0 2%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

p, .top-projects > li {
  font-size: 120%;
  line-height: 200%;
}

footer {
  padding: 10vh 0%;
  background: var(--main-color);
  margin: 5% 0 0 0;  
  width: 100%;
  color: #fff;
}

.copyright {
  display: flex;
  margin: 0 2rem;
  justify-content: center;
}

/* Inicio */

#Inicio {
  position: relative;
  padding-top: 120px;
  background: var(--main-color);
  overflow: hidden;
}

.inicio_first {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3vw;
  padding-bottom: 24px;
}

.inicio_promo {
  position: relative;
  display: flex;
  width: 96%;
  max-width: 1270px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.inicio-alex_img {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  transform: scale3d(0,0,0);
  opacity: 0;
  transition: transform .5s, opacity 0.5s;
}

.bubble {
  position: absolute;
  z-index: 3;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
  transition: background 0.8s, transform 0.8s, opacity .5s, fill 0.7s;
  height: 6rem;
  width: 6rem;
  opacity: 0;
  transform: scale3d(0,0,0);
}

.bubble._1 {
  left: 15%;
  top: 4%;
}

.bubble._2 {
  left: 12%;
  top: 43%;
}

.bubble._3 {
  left: 16%;
  bottom: 6%;
}

.bubble._4 {
  top: 96%;
  left: 28%;
}

.bubble._5 {
  right: 15%;
  top: 4%;
}

.bubble._6 {
  right: 12%;
  top: 43%;
}

.bubble._7 {
  right: 16%;
  bottom: 6%;
}

.bubble._8 {
  top: 96%;
  right: 28%;
}

.bubble i {
  display: flex;
}

.bubble path, .bubble rect, .sm_btn path, .sm_btn rect {
  fill: #151515;
  transition: 0.8s;
}

._1:hover, ._1:focus-visible {
  background: #4267B2;
}

._2:hover, ._2:focus-visible {
  background: #1DA1F2;
}

._3:hover, ._3:focus-visible {
  background: #ff9900;
}

._4:hover, ._4:focus-visible {
  background: #151515;
}

._5:hover, ._5:focus-visible {
  background: radial-gradient(circle farthest-corner at 28% 100%,#fcdf8f 0%,#fbd377 10%,#fa8e37 22%,#f73344 35%, transparent 65%), linear-gradient(145deg, #3051f1 10%, #c92bb7  70%);
}

._6:hover, ._6:focus-visible {
  background: #f00;
}

._7:hover, ._7:focus-visible {
  background: #ff500a;
}

._8:hover, ._8:focus-visible {
  background: #f5c518;
}

.bubble:hover path, .bubble:focus-visible path, ._4:hover path.black-part-tk, ._4:focus-visible path.black-part-tk, .bubble:hover rect, .bubble:focus-visible rect, .sm_btn:hover path, .sm_btn:focus-visible path, 
.sm_btn:hover rect, .sm_btn:focus-visible rect {
  fill: #fff;
}

.symbols {
  height: 2.5rem;
}

.bubble._7 svg, .bubble._8 svg {
  height: 4.5rem;
  margin-left: 0.3rem;
}

.angle {
  position: absolute;
  left: -10vw;
  bottom: -5vw;
  z-index: 0;
  width: 120vw;
  height: 28vw;
  margin-right: auto;
  margin-left: auto;
  background-color: #f5f7fa;
  -webkit-transform: translate(0px, 10vw) rotate(-14deg);
  -ms-transform: translate(0px, 10vw) rotate(-14deg);
  transform: translate(0px, 10vw) rotate(-14deg);
}

.inicio_second {
  position: relative;
  background-color: #f5f7fa;
  padding-bottom: 1rem;
}

.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1234px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background-color: transparent;
}

.wrapper-info {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  max-width: 870px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  transform: translateY(2rem);
  opacity: 0;
  transition: transform 0.8s, opacity .5s;
}

.title {
  color: var(--main-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 44px;
  line-height: 56px;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

.inline-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 670px;
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.inline-info.sp-h3 {
  margin: 1rem 0;
}

.inline-separator {
  width: 100px;
  height: 3px;
  margin-top: 1px;
  margin-right: 24px;
  border-radius: 3px;
  background-color: var(--main-color);
}

h3 {
  font-size: 25px;
  font-weight: normal;
  line-height: 36px;
}

.marked-info-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

.sm_btns_c {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sm_btn {
  height: 4rem;
  width: 4rem;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
  transition: background 0.8s, fill 0.7s;
  margin: 0.5rem;
  border-radius: 100px;
}

.sm_btn svg.symbols {
  height: 2rem;
  margin: 0.5rem;
  fill: #000;
}

hr {
  border-bottom: 1px solid #dee3e9;
  width: 100%;
  margin: 2rem 0 5rem;
}

/* Inicio */

/* Sobre mí */

.section {
  padding-bottom: 128px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f7fa;
}

.no-padding-bottom {
  padding-bottom: 0px;
}

.top-projects {
  margin-left: 5vh;
  list-style: none;
}

.top-projects > li::before {
  content: "\2022";
  color: var(--main-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Sobre mí */

/* Libro */

.book_promo {
  width: 100%;
  height: 58vw;
  max-height: 46rem;
  background-image: url(../assets/book_promo_large.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 3rem;
  transform: translateY(2rem);
  opacity: 0;
  transition: transform .5s, opacity 0.5s;
}

.book_promo h2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 22%;
  padding-top: 9%;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 10% 19.5%;
}

.buttons-container .symbols {
  margin-right: 0.5rem;
}

.amazon-button,
.wattpad-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: background 0.8s, color 0.8s, fill 0.8s;
  background: #fff;
  color: #000;
  padding: 0.5rem;
  font-weight: bold;
}

.amazon-button:hover,
.wattpad-button:hover,
.amazon-button:focus-visible,
.wattpad-button:focus-visible {
  color: #fff;
  fill: #fff;
}

.book-synopsis {
  margin-bottom: 1rem;
}

/* Libro */

/* Galería */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery_img {
  width: 20rem;
  height: 20rem;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

.blur-load::before {
  content: '';
  position: absolute;
  inset: 0;
  animation: pulse 2.5s infinite;
}

.blur-load.loaded::before {
  content: none;
  animation: none;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.blur-load {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 20rem;
  height: 20rem;
  margin: 0.3rem;
}

.blur-load.loaded > .gallery_img {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

/* Galería */

.inside {
  transform: scale3d(1,1,1) translate(0px);
  opacity: 1;
}

@media screen and (max-width: 991px){
  .inicio-alex_img {
    width: 48vw;
    height: 48vw;
  }
  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 16px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    justify-content: space-between;
  }
  .header_logo {
    width: 72px;
    height: 72px;
  }
  .wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }
  header ul li a {
    margin: 0;
  }
  header ul li {
    margin: 16px 32px;
  }
  .menu_list {
    width: 100%;
    max-width: 280px;
  }
  header ul#menu.menu_list {
    visibility: visible;
    display: block;
    opacity: 1;
  }
  svg#menu_icon.menu_icon {
    visibility: visible;
    display: block;
    opacity: 1;
  }
  header ul#menu_list-no_mobile.menu_list-no_mobile {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  .inline-info {
    margin-bottom: 64px;
  }
  h2 {
    font-size: 40px;
    line-height: 52px;
  }
  .no-padding-bottom {
    padding-bottom: 0px;
  }
  .book_promo h2 {
    margin-right: 18%;
  }
  .buttons-container {
    margin: 10% 18%;
  }
}

@media screen and (max-width: 767px){
  .bubble {
    display: none;
  }
  .sm_btn {
    display: flex;
  }
  .inicio-alex_img {
    width: 60vw;
    height: 60vw;
  }
  .inicio_second {
    padding-top: 10px;
  }
  .inline-info {
    margin-bottom: 48px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .no-padding-bottom {
    padding-bottom: 0px;
  }
  .book_promo h2 {
    margin-right: 18%;
    font-size: 4.37vw;
  }
  .buttons-container {
    margin: 5% 14%;
  }
  .amazon-button, .wattpad-button {
    width: 17vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 479px){
  .inicio-alex_img {
    width: 80vw;
    height: 80vw;
    margin-bottom: -20vw;
  }
  .angle {
    display: none;
  }
  header {
    margin: 8px;
  }
  .menu_list {
    max-width: none;
  }
  .wrapper-info {
    margin-top: 48px;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .inline-separator {
    display: none;
  }
  .no-padding-bottom {
    padding-bottom: 0px;
  }
  .book_promo {
    background-image: url('../assets/book_promo_small.png');
    background-color: #a2bcd7;
    height: 115vw;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .book_promo h2 {
    margin-right: 1%;
    font-size: 6.37vw;
    justify-content: center;
  }
  .amazon-button, .wattpad-button {
    width: 31vw;
    font-size: 3vw;
  }
}

#close_menu {
	display: none;
	visibility: hidden;
	opacity: 0;
}

#close_menu {
	transition: opacity 0.8s ease-in-out;
}

#close_menu.active {
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 105vw;
	height: 105vh;
	background: rgba(0, 0, 0, 0.1);
	display: block;
	visibility: visible;
	opacity: 1;
}